*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background: url(https://images.unsplash.com/photo-1753837738768-ecae1cd09074?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)center no-repeat;
    background-size: cover;
    color: white;
}
.timeline-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12% 2rem;
}
.timeline-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.heading{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.heading i{
    font-size: 4rem;
}
.content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border: 3px solid rgb(110, 110, 110);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.4s ease;
    cursor: pointer;
}
.content-box:hover{
    box-shadow: 0 0 25px rgb(0, 255, 255);
    border: 3px solid rgb(0, 255, 255);
}
.timeline-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 5px solid rgb(0, 255, 255);
}
.content-box h3{
    font-size: 1.3rem;
}
.date{
    font-size: 1.7rem;
    color: rgb(0, 255, 255);
    font-weight: 700;
}
.content-box:before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(0, 255, 255);
    border-radius: 50%;
    left: -50px;
    top: 90px;
}
h1{
    text-align: center;
     background: linear-gradient(
        to right,
        rgb(255, 19, 204),
        rgb(163, 117, 255),
        rgb(0, 234, 255),
        rgb(47, 255, 0),
        rgb(255, 247, 0)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 3s linear infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  
