<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Education timeline of {{person.name}}</h1>
   <div class="timeline-wrapper">

    <div class="timeline-row">

        <div class="timeline-col">
            <h2 class="heading">
            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M9 11h2v2H9zm0-4h2v2H9zm4 4h2v2h-2zm0-4h2v2h-2z"></path><path d="M21 9h-3V5h1V3H5v2h1v4H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h18c.55 0 1-.45 1-1V10c0-.55-.45-1-1-1M4 11h2v8H4zm6 4v4H8V5h8v14h-2v-4zm10 4h-2v-8h2z"></path>
</svg>
                Education
            </h2>

            <div class="timeline-box">

                <div class="content-box">
                    <div class="date">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2M5 20V8h14V6v14z"></path><path d="M7 11h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2z"></path>
</svg>
                        {{person["10year"]}} 
                    </div>

                    <h3>SSC (Class 10th)</h3>

                    <p>lorem ipsum dolor sit amet consectetur adipiscing elit fugiat ducimus quod eos accusamus corrupti sit deserunt qui omnis praesentium est nostrud proident nulla fugiat quo ut est sint in et ea labore sed velit nostrud exercitation in eligendi eiusmod eu maxime eiusmod enim dignissimos ex deserunt corrupti mollitia ut lorem</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2M5 20V8h14V6v14z"></path><path d="M7 11h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2z"></path>
</svg>
                        {{person["12year"]}}
                    </div>

                    <h3>HSC (Class 12th)</h3>

                    <p>lorem ipsum dolor sit amet consectetur adipiscing elit fugiat ducimus quod eos accusamus corrupti sit deserunt qui omnis praesentium est nostrud proident nulla fugiat quo ut est sint in et ea labore sed velit nostrud exercitation in eligendi eiusmod eu maxime eiusmod enim dignissimos ex deserunt corrupti mollitia ut lorem</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2M5 20V8h14V6v14z"></path><path d="M7 11h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2z"></path>
</svg>
                        {{person["clgyear"]}}
                    </div>

                    <h3>{{person.college}} - {{person.course}}</h3>

                    <p>lorem ipsum dolor sit amet consectetur adipiscing elit fugiat ducimus quod eos accusamus corrupti sit deserunt qui omnis praesentium est nostrud proident nulla fugiat quo ut est sint in et ea labore sed velit nostrud exercitation in eligendi eiusmod eu maxime eiusmod enim dignissimos ex deserunt corrupti mollitia ut lorem</p>
                </div>
            </div>

            

        </div>

        <div class="timeline-col">
             <h2 class="heading">
                <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M20 6h-3V4c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2M9 4h6v2H9zM8 8h12v3.07l-.83.39a16.78 16.78 0 0 1-14.34 0L4 11.07V8zM4 20v-6.72c2.54 1.19 5.27 1.79 8 1.79s5.46-.6 8-1.79V20z"></path>
</svg>

                Achievements
             </h2>
             <div class="content-box">
                    <div class="date">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2M5 20V8h14V6v14z"></path><path d="M7 11h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2z"></path>
</svg>
                        2019-20
                    </div>

                    <h3>Scout Leader</h3>

                    <p>lorem ipsum dolor sit amet consectetur adipiscing elit fugiat ducimus quod eos accusamus corrupti sit deserunt qui omnis praesentium est nostrud proident nulla fugiat quo ut est sint in et ea labore sed velit nostrud exercitation in eligendi eiusmod eu maxime eiusmod enim dignissimos ex deserunt corrupti mollitia ut lorem</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2M5 20V8h14V6v14z"></path><path d="M7 11h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2z"></path>
</svg>
                        2025-26
                    </div>

                    <h3>MHT-CET</h3>

                    <p>lorem ipsum dolor sit amet consectetur adipiscing elit fugiat ducimus quod eos accusamus corrupti sit deserunt qui omnis praesentium est nostrud proident nulla fugiat quo ut est sint in et ea labore sed velit nostrud exercitation in eligendi eiusmod eu maxime eiusmod enim dignissimos ex deserunt corrupti mollitia ut lorem</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2M5 20V8h14V6v14z"></path><path d="M7 11h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2z"></path>
</svg>
                        2025-26
                    </div>

                    <h3>WBJEE</h3>

                    <p>lorem ipsum dolor sit amet consectetur adipiscing elit fugiat ducimus quod eos accusamus corrupti sit deserunt qui omnis praesentium est nostrud proident nulla fugiat quo ut est sint in et ea labore sed velit nostrud exercitation in eligendi eiusmod eu maxime eiusmod enim dignissimos ex deserunt corrupti mollitia ut lorem</p>
                </div>

            

            
        </div>

    </div>




   </div>
</body>
</html>
