<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
    <title>A portfolio for roommates</title>

</head>
<body>
    <h1>Welcome to our Portfolio</h1>
    <!-- {%for person in people%}  
        <p>{{person}}</p>
    {%endfor%} -->
    <!-- accessing the created dictionairy -->
    <!-- {%for person in people%}
        <p>{{person.name}}</p>
        <img src = "{{person.profile_image}}"
        alt="profile image" 
        width="200"
        height="200">

        <p>{{person.name}}</p>

        <a href ="{{person.instagram}}" target="_blank">
            instagram
        </a> 
        
    {%endfor%} -->
<br>
<div class="Rhitam">
    <!-- profile picture -->
<img id="rhitam-profile" src="https://avatars.githubusercontent.com/u/293724039?v=4" alt="Profile Image" width="200" height="200">
<p><b>Rhitam</b></p>
</div>
<div>
<!-- Insta link -->
<a href="https://www.instagram.com/rhitxm.exe/" target="_blank"><img id="rhitam-insta" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmLMeCMRrwdD3io9ne_xIIyQ0qwVfyv3NrD8pMhnlamg&s" alt="Profile Image" width="30" height="30"></a>
<br>
<!-- linkedin link -->
 <a href="https://www.linkedin.com/in/rhitam-paul-4a58021b4/" target="_blank"><img id="rhitam-linkedin" src="https://thumb.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1280px-LinkedIn_icon.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail" alt="Profile Image" width="30" height="30"></a>

</div>
<br>
<div>
    <!-- profile picture -->
<img id="sumedh-profile" src="https://avatars.githubusercontent.com/u/190742018?v=4" alt="Profile Image" width="200" height="200">
<p><b>Sumedh</b></p>
</div>
<div>
    <a href="https://www.instagram.com/sumedhg.69/" target="_blank"><img id="sumedh-insta" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmLMeCMRrwdD3io9ne_xIIyQ0qwVfyv3NrD8pMhnlamg&s" alt="Profile Image" width="30" height="30"></a>
    <br>
    <!-- linkedin link -->
     <a href="https://www.linkedin.com/in/sumedh-ghule-790617342/" target="_blank"><img src="https://thumb.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1280px-LinkedIn_icon.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail" alt="Profile Image" width="30" height="30"></a>
</div>

    
</body>
</html>




















