<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>A portfolio for roommates</title>
</head>

<body>

```
<header>
    <h1>Welcome to our Portfolio</h1>
</header>

<br>

<div class="flex-container">

    {% for person in people %}

    <div class="box">

        <div>
            <img class="profile-image" 
                 src="{{ person.profile_image }}"
                 alt="Profile Image"
                 width="300"
                 height="300">

            <p><b>{{ person.name }}</b></p>

            <div class="social-icons">
                <a href="{{ person.instagram }}" target="_blank">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmLMeCMRrwdD3io9ne_xIIyQ0qwVfyv3NrD8pMhnlamg&s"
                        alt="Instagram"
                        width="40"
                        height="40">
                </a>

                <a href="{{ person.linkedin }}" target="_blank">
                    <img src="https://thumb.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1280px-LinkedIn_icon.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail"
                        alt="LinkedIn"
                        width="40"
                        height="40">
                </a>

                <a href="{{ person.github }}" target="_blank">
                    <img src="https://make-cxp-documentation.ams3.digitaloceanspaces.com/apps-center-icons/github.png"
                        alt="Github"
                        width="40"
                        height="40">
                </a>
            </div>

            <br><br>

            <a href="{{ url_for('education', name=person.name|lower) }}">
                Education
            </a>

            <br><br>

            <!-- Skills route will be added later -->
            <a href="#">
                Skills
            </a>

        </div>
        
    </div>
    {%endfor%}
    

</body>
</html>
