<!DOCTYPE html>
<html>
<head>
    <title >{{ person.name }}'s Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
</head>

<body>

    <h1 >{{ person.name }}'s Projects</h1>
    <div class="project-container">
        {% for project in projects %}

            <div class="project-card">

            <h2>{{ project.name }}</h2>

            <p>{{ project.description }}</p>

            <p>Language: {{ project.language }}</p>
            <div class = "project-stars">    
                <p>⭐ {{ project.stars }}</p>
            </div>

            <a href="{{ project.url }}" target="_blank">
                View on GitHub
            </a>

            </div>

        {% endfor %}
    </div>

</body>
</html>