<!DOCTYPE html>
<html>
<head>
    <title >{{ person.name }}'s Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
</head>

<body>

    <h1>{{ person.name }}'s Projects</h1>
    <div class="project-container">
        {% for project in projects %}

            <div class="project-card">

            <h2>{{ project.name }}</h2>

            <p>{{ project.description }}</p>

            <p>Language: {{ project.language }}</p>

            <p>⭐ {{ project.stars }}</p>

            <a href="{{ project.url }}" target="_blank">
                View on GitHub
            </a>

            </div>

        {% endfor %}
    </div>

</body>
</html>